<!DOCTYPE html>
<html>
 <head>
 </head>

 <body>
  <h1> Landing Page </h1>
   <nav>
    <a href='/sign_up'><input type='button' name='' value='Sign Up'/></a>
    <a href='/property_view'><input type='button' name='' value='Properties'/></a>
   </nav>
   <br>

   <p>LogIN</p>
   <br>

   <form action='/authenticate' method='POST'>
   <p>username: </p><input type='text' name='' value=''/>
   <p>password: </p><input type='text' name='' value=''/>
   <input type='button' name='authen' value='Log IN'/> 
   </form>

 </body>
</html>