<!DOCTYPE html>
<html>
 <head>
  <h1>Create a Property</h1>
 </head>

 <body>
  <nav>
  	<a href='/'><input type='button' name='' value='Home Page'></a>
    <a href='/sign_up'><input type='button' name='' value='Sign Up'/></a>
    <a href='/property_view'><input type='button' name='' value='Properties'/></a>
  </nav>

  <form action='' method=''>
  <p>Please fill in the entries</p>
  <p>Location: </p><input type='text' name='property[location]' value=''/>
  <p>availability: </p><input type='text' name='property[availability]' value=''/>

  <input type='submit' name='' value='Create Property'/>
  </form>
 </body>
</html>