<!DOCTYPE html>
<html>
 <head>
  <h1>This is Property page</h1>
 </head>

 <body>
  <nav>
   <a href='/'><input type='button' name='' value='Home Page'></a>
   <a href='/sign_up'><input type='button' name='' value='Sign Up'/></a>
   <a href='/property_create'><input type='button' name='' value='Create new Property'/></a>
  </nav>
 </body>
</html>