<!DOCTYPE html>
<html>
 <head>
  <h1>SIGN UP</h1>
 </head>

 <body>
  <nav>
   <a href='/'><input type='button' name='' value='Home Page'></a>
  </nav>

  <form action='/sign_up/create' method='POST'>
  	<p>please fill in the entries</p>
  	<p>username: </p><input type='text' name='user[username]' value=''/>
  	<p>password: </p><input type='text' name='user[password]' value=''/>

  	<br>
  	<input type='submit' name='decision' value='create user'/>
  </form>
 </body>
</html>