<!DOCTYPE html>
<html>
 <head>
 </head>

 <body>
  <nav>
  	<a href='/'><input type='button' name='' value='Home Page'></a>
    <a href='/property_view'><input type='button' name='' value='Properties'/></a>
    <a href='/property_create'><input type='button' name='' value='Create new Property'/></a>
  </nav>

  <p>list all users</p>
  <li><%= @view %></li>
 </body>
</html>